<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>OurJS.com 我们的技术-IT文摘, 我们的精神, 我的文摘, 程序猿话题; 一个有关IT、技术、创业、职场话题的文摘类网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--#include="style.part"-->
<script>var conf={category:"list"}</script>
</head>
<body>
<!--#include="header.part"-->
<div class="container">
  <div class="row-fluid">
    <div class="span12">
    <script type="text/javascript" src="http://www.qq.com/404/search_children.js" charset="utf-8"></script>
    </div>

  </div>
</div>
<hr>
<!--#include="script.part"-->
</body>
</html>