<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>{{=it.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{=it.description}}">
<!--#include="style.part"-->
<script>var conf={ _id: '{{=it._id}}', username:'{{=it.username}}', useravatar:'{{=it.useravatar}}'}</script>
</head>

<body class="bbs">
<!--#include="header.part"-->
<div class="container">
  <div class="row-fluid">
    <div id="article" class="span8">
      <div class="keywords" id='keyNav'>
        <ul class="clearfix">
          <li><a href="/{{=it.keymeta}}//">全部</a></li>
          <li><a href="/{{=it.keymeta}}/JavaScript">JavaScript</a></li>
          <li><a href="/{{=it.keymeta}}/Node.JS">Node.JS</a></li>
          <li><a href="/{{=it.keymeta}}/前端">前端</a></li>
          <li><a href="/{{=it.keymeta}}/Html5">Html5</a></li>
          <li><a href="/{{=it.keymeta}}/开源">开源</a></li>
          <li><a href="/{{=it.keymeta}}/创业">创业</a></li>
          <li><a href="/{{=it.keymeta}}/招聘">招聘</a></li>
          <li><a href="/{{=it.keymeta}}/瞎扯">瞎扯</a></li>
          <li><a href="/{{=it.keymeta}}/OurJS">OurJS</a></li>
          <li class="pull-right"><a href="/bbs_rss" target="_blank">RSS</a></li>
        </ul>
      </div>
      <ul id="comments_list" class="unstyled comments">
        {{~ it.articles :article:index }}
        <li>
          <div class="num">{{=(article.replies || []).length}}</div>
          <a class="avatar"><img src="http://www.gravatar.com/avatar/{{=article.avatar}}"></a>
          <div class="content">
            {{?article.verify=='1'}}
            <i class="icon-star-empty"></i>
            {{?}}
            <a href="/detail/{{=article.urlSlug || article._id}}" target="_blank">{{=article.title || ''}}</a>
          </div>
          <div class="info">
             • <a href="/bbs/{{=article.keyword}}" target="_blank">{{=article.keyword}}</a>
             • <a href="/userinfo/{{=article.poster}}" target="_blank">{{=article.poster}}</a>
             • <span class="formatdate">{{=article.replyTime || article.postdate || 0}}</span>
          </div>
        </li>
        {{~}}
      </ul>
      <div class="pagination">{{=it.pagination}}</div>
    </div>

    <div class="span4">
      <div class='panel'>
        <div class="keywords">
          <ul class="clearfix">
            <li class="active">全端</li>
            <li> = 前端 + 后端</li>
          </ul>
        </div>
        {{?it.user.username}}
        <div class="userAvator">
          <a class="avatar" href="/userinfo/{{=it.user.username}}">
            <img src="http://www.gravatar.com/avatar/{{=it.user.avatar}}" />
          </a>
          <table>
            <tr title="用户名">
              <td><i class="icon-user"></i></td>
              <td><b><a href="/userinfo/{{=it.user.username}}">{{=it.user.username}}</a></b></td>
            </tr>
            {{?it.user.company}}
            <tr title="公司">
              <td><i class="icon-briefcase"></i></td>
              <td><b>{{=it.user.company}}</b></td>
            </tr>
            <tr title="简介">
              <td colspan="2">{{=it.user.briefinfo}}</td>
            </tr>
            {{?}}
          </table>
        </div>
        {{??}}
        <div class="userAvator">
          <a class="avatar" data-toggle="modal" href="#signup">
            <img src="http://www.gravatar.com/avatar/{{=it.user.avatar}}" />
          </a>
          <table>
            <tr title="用户名">
              <td><i class="icon-user"></i></td>
              <td><b><a data-toggle="modal" href="#signup" class="joinNow">立即加入</a></b></td>
            </tr>
          </table>
        </div>
        {{?}}
        <div class="headButton">
          {{?it.user.username}}
          <a class="btn btn-large btn-success postNow" href="/root/edit/add">我要发贴</a>
          {{??}}
          <a class="btn btn-large btn-success postNow" data-toggle="modal" href="#signup">我要发贴</a>
          {{?}}
        </div>
      </div>

      <div class='panel'>
        <div class="keywords">
          <ul class="clearfix">
            <li class="active">阅读</li>
            <li>本月热门</li>
          </ul>
        </div>
        <ol>
        {{~ it.hottest :article:index }}
          <li>
            <a target="_blank" href="/detail/{{=article.urlSlug || article._id}}">{{=article.title || ''}}</a>
          </li>
        {{~}}
        </ol>
      </div>

      <div class='panel'>
        <div class="keywords">
          <ul class="clearfix">
            <li class="active">关于</li>
            <li>OurJS</li>
          </ul>
        </div>
        <p>
          我们擅长一栈式开发; 我们用 <b>JavaScript</b> 写前端，用 <b>Node.JS</b> 写后端，使用基于 <b>JSON</b> 的 <b>NoSQL数据库</b>; 这里没有前/后端, 没有沟通问题, 没有扯皮, 没有办公室政治. 我们是具有屌丝气质的全端工程师; 
          <br>
          加入我们吧! 让我们一起找寻码农的快乐，探索技术, 发现IT人生的乐趣;
        </p>
      </div>

      <div class='panel'>
        <div class="keywords">
          <ul class="clearfix">
            <li class="active">关注</li>
            <li>OurJS</li>
          </ul>
        </div>
        <p>
          我们的微信公众号: ourjs-com
          <br>
          打开微信扫一扫即可关注我们:
          <br>
          IT文摘-程序员(码农)技术周刊
          <br><br>
          <img src="/img/weixin.jpg" alt="ourjs官方微信号" width="160" height="160" style="border: solid 1px #666;" />
        </p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="footer">
    <div style="margin:0 0 60px 0">
      <p style="float:left;line-height: 30px;">
        沪ICP备13020027号-2
      </p>
      <p style="text-align:right;">
        <a class="btn" href="#top">返回顶部</a> 
      </p>
    </div>
  </div>
</div>

<!--#include="script.part"-->
<!--Powered By OurJS -->
</body>
</html>