<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--#include="style.part"-->
<style>
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
</style>
</head>
<body>
<!--#include="header.part"-->
<div class="container">
  <form class="form-signin" action="/user.signin.post/redirect" method="post">
    <h3 class="form-signin-heading">登录</h3>
    <input type="text"      class="input-block-level" placeholder="Username" name="username">
    <input type="password"  class="input-block-level" placeholder="Password" name="password">
    <table>
      <tr>
        <td><input type="checkbox" class="input-block-level" name="autosign" id="autosign" style="margin-bottom: 10px;"></td>
        <td><label for="autosign">自动登录</label></td>
      </tr>
    </table>
    <button class="btn btn-large btn-primary" type="submit">登录</button>
  </form>
</div>
<!--#include="script.part"-->
</body>
</html>