<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
<channel>
  <title>OurJS: Our JavaScript</title>
  <link>http://ourjs.com</link>
  <description></description>
  {{~ it.articles :article:index }}
  <item>
    <title><![CDATA[{{=article.title}}]]></title>
    <link>http://code.ourjs.com/article/{{=article._id}}</link>
    <description><![CDATA[{{=article.summary}}]]></description>
  </item>
  {{~}}
</channel>
</rss>