<!DOCTYPE html>
<html lang="en">
<head>
<title>Signin - OurJS</title>
<!--#include="head.part"-->
</style>
</head>
<body>

<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">

<!--#include="navbar.part"-->

<div class="row content-wrap">
  <div class="large-4 columns">&nbsp;</div>
  <div class="large-4 columns">
    <form action="/user.signup.post/redirect" method="post">
      <h3>Signup</h3>

      <label> Username
        <input type="text" name="username" placeholder="username" >
      </label>

      <label> Email
        <input type="email" name="email" placeholder="email">
      </label>

      <label> Password
        <input type="password" name="password" placeholder="password"/>
      </label>

      <input type="checkbox" checked="checked" name="autosign" id="autosign">

      <label for="autosign">Auto Signin</label>

      <button type="submit">Regist</button>

    </form>
  </div>
  <div class="large-4 columns">&nbsp;</div>
</div>

<!--#include="foot.part"-->

</div>
</div>
</body>
</html>