<!DOCTYPE html>
<html lang="en">
<head>
<title>{{=it.user.username || ''}} - Home | OurJS</title>
<!--#include="head.part"-->
<script>var conf={{=it.conf}}</script>
</head>
<body>

<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">

<!--#include="navbar.part"-->

<div class="row content-wrap">
  <div class="large-4 columns">
    <div class="useravator">
      <a class="avatar">
        <img src="http://www.gravatar.com/avatar/{{=it.user.avatar}}" />
      </a>
      <table>
        <tr title="Username">
          <td><b>{{=it.user.username}}</b></td>
        </tr>
        {{?it.user.company}}
        <tr title="Company">
          <td><b>{{=it.user.company}}</b></td>
        </tr>
        <tr title="Description">
          <td>{{=it.user.briefinfo}}</td>
        </tr>
        {{?}}
      </table>
    </div>
  </div>

  <div class="large-8 columns">
    <div id="articles">
      {{~ it.list :article:index }}
      <div class="article">
        <h2 class="title">
          <a target="_blank" href="/article/{{=article._id}}">{{=article.title}}</a>
        </h2>
        <div class="note">
          <a class="keyword" target="_blank" href="/forum/{{=article.keyword}}">{{=article.keyword}}</a>
          by <a class="author" href="/userinfo/{{=article.poster}}" target="_blank">{{=article.poster}}</a>
          <span class="formatdate date">{{=article.publishTime || article.postdate}}</span>
        </div>
        <div class="summary">{{=article.summary || ''}}</div>
      </div>
      {{~}}
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns text-right">
    <div id="loader" class="hide">
      <pre style="text-align:center">Loading...</pre>
    </div>
    <a class="button tiny" id="loadmore" href="{{=it.nextPage}}">Load More</a>
  </div>
</div>

<!--#include="foot.part"-->

</div>
</div>

</body>
</html>