<!DOCTYPE html>
<html lang="en">
<head>
<title>{{=it.user.username || ''}} - Edit | OurJS</title>
<!--#include="head.part"-->
</head>
<body>

<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">

<!--#include="navbar.part"-->

<div class="row content-wrap">
  <div class="large-4 columns useravator">
    <a class="avatar">
      <img src="http://www.gravatar.com/avatar/{{=it.user.avatar}}" />
    </a>
    <table>
      <tr title="Username">
        <td><b>{{=it.user.username}}</b></td>
      </tr>
      {{?it.user.company}}
      <tr title="Company">
        <td><b>{{=it.user.company}}</b></td>
      </tr>
      {{?}}
    </table>
  </div>
  <div class="large-7 columns">
    <form action="/user.edit.post/redirect" method="post">
      <h4 class="title">Required</h4><hr>
      <label>Old Password
        <input type="password" name="password" placeholder="Old Password">
      </label>

      <label>Email
        <input type="email" name="email" placeholder="Email" value="{{=it.user.email || ''}}">
      </label>

      <br><br><br>

      <h4 class="title">Optional</h4><hr>

      <label>Company
        <input type="text" name="company" placeholder="Company" value="{{=it.user.company || ''}}">
      </label>

      <label>Brief Introduction
        <textarea type="text" name="briefinfo" placeholder="Brief Introduction" maxlength="300">{{=it.user.briefinfo || ''}}</textarea>
      </label>


      <label>New Password
        <input type="password" name="newPassword" placeholder="New Password">
      </label>

      <label>Repeat Password
        <input type="password" name="confPassword" placeholder="Repeat Password">
      </label>

      <input type="hidden" name="username" value="{{=it.user.username}}">

      <button type="submit" class="btn btn-primary btn-large">Submit</button>
    </form>
  </div>
</div>

<!--#include="foot.part"-->

</div>
</div>

</body>
<!--Powered by OurJS.com -->
</html>