<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Data Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/admin/data/web/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="starter-template">
    <form id="editForm" class="form-horizontal" data-schema="{{=it.schema}}">
      <h3 class="text-center">EDIT</h3>
      {{ for(var prop in it.SCHEMA) { }}
      <div class="form-group">
        <label>{{=prop}}</label>
        {{? prop == '_id' }}
        <input name="{{=prop}}" data-schema="{{=it.SCHEMA[prop]}}" value="{{=it.doc[prop] || ''}}" readonly="readonly" type="text" class="form-control"/>
        {{?? it.SCHEMA[prop].indexOf('json') > -1 }}
        <textarea name="{{=prop}}" data-schema="{{=it.SCHEMA[prop]}}" rows="6" class="form-control">{{=JSON.stringify(it.doc[prop], '    ', '    ') || ''}}</textarea>
        {{?? it.SCHEMA[prop].indexOf('html') > -1 }}
        <textarea name="{{=prop}}" data-schema="{{=it.SCHEMA[prop]}}" rows="6" class="form-control">{{=it.doc[prop] || ''}}</textarea>
        {{??}}
        <input name="{{=prop}}" data-schema="{{=it.SCHEMA[prop]}}" value="{{=it.doc[prop] || ''}}" type="text" class="form-control"/>
        {{?}}
      </div>
      {{ } }}

      <div class="text-center">
        <button type="submit" class="btn btn-large btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/admin/data/web/static/jquery.js"></script>
<script src="/admin/data/web/static/bootstrap.min.js"></script>
<style type="text/css">
input, textarea{width: 90%;}
</style>
<script type="text/javascript">
(function($) {

  $.fn.getJSON = function() {
    var json = {};

    $(this).find('input, textarea').each(function() {
      var $input  = $(this)
        , name    = $input.attr('name')
        , value   = $input.val()
        , schema  = $input.data('schema')
        ;

      if (value && name) {
        if (schema.indexOf('int') > -1) {
          json[name] = Number(value) || 0;
        } else if (schema.indexOf('json') > -1) {
          try {
            json[name] = JSON.parse(value);
          } catch(err) {
            console.log(err);
          }
        } else {
          json[name] = value;
        }
      }
    });

    return json;
  };


  (function() {
    $('#editForm').submit(function(e) {
      e.preventDefault();

      var $this   = $(this)
        , schema  = $this.data('schema')
        , json    = $this.getJSON()
        ;

      schema && $.post('/admin/data/' + schema + '/edit.post', JSON.stringify(json), function(data) {
        alert('done!');
        window.close();
      }).fail(function() {
        alert('failed!');
      });
    });
  }());

})(jQuery);
</script>
</body>
</html>