pre {
  color: #fff;
  display: block;
  font-size: 14px;
  text-align: left;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #000;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-border: ;
}


nav.top-bar{
  background-color:#fff;
  border-bottom: solid 1px #6f5499;
}

.top-bar .name h1 a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.brand {
  color: #000;
  font-family: "Georgia Pro", "Andalus", "Narkisim", "Stencil", "Helvetica", "Franklin ITC Pro Bold", "Arial", "sans-serif";
  font-weight: 700;
}

.brand b {
  color: #f00 !important;
}

.top-bar .title-area{
  float: left;
}


.right-off-canvas-menu .right{
  float: none !important;
  margin: 0  
}

.right-off-canvas-menu > ul > li > a {
background-color: #666;
  border-bottom: solid 1px #fff;
}

.right-off-canvas-menu ul {
  list-style: none;
  margin: 0;
}

.right-off-canvas-menu li a {
  color: #fff;
  display: block;
  padding: 0.4em 1.4em;
}

.right-off-canvas-menu li.divider {
  display: none;
}

.home-hero {
  background-color: #008cba;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  position: relative;
}

.home-hero .hero-text > *{
  color: #fff;
  text-align: center;
}

.home-hero .hero-text h1{
  font-size: 64px;
}

.home-hero .hero-text .desc,
.title{
  font-family: "Georgia Pro", "Andalus", "Narkisim", "Arial", "sans-serif";
}

.home-hero .brand b{
  color: #ff0 !important;
}

.install-tip {
  border: solid 1px #fff;
  border-radius: 14px;
  display: block;;
  margin: 54px auto;
  width: 268px;
  font-size: 24px;
  font-weight: 700;
  padding: 24px;
}

.install-tip:hover{
  border-color: #000;
  background-color: #fff;
  color: #000;
}

.ads {
  margin: 0 auto;
  max-width: 729px;
}

.hero-title {
  text-align: center;
  margin: 44px 6%;
}

.share-bar{
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  margin-bottom: 40px;
  min-height: 46px;
  text-align: center;
  padding: 6px 0 4px;
}



.content .row{
  margin-bottom: 54px;
}


.highlight .title{
  font-family: "Georgia Pro", "Andalus", "Narkisim", "Arial", "sans-serif";
  font-size: 24px;
  font-weight: 700;
}

.highlight .category {
  background-color: #ddd;
  color: #000;
  display: block;
  font-size: 64px;
  font-family: "Georgia Pro", "Andalus", "Narkisim", "Arial", "sans-serif";
  text-align: center;
  vertical-align: middle;
  line-height: 223px;
}



footer{
  border-top: solid 1px #ddd;
  background: #eee;
  font-weight: 700;
}



/*
Page override
*/
.forum nav{
  margin-bottom: 34px;
}

.forum .pagination{
  margin-bottom: 64px;
}


.content-wrap {
  margin-top: 54px;
  margin-bottom: 54px;
}




/*
* keywords
*/
.keywords {
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
}

.keywords li {
    display: inline-block;
    font-size: 16px;
    padding: 4px 6px;
}

.keywords ul{
  margin:0;
}

.keywords li.active,
.keywords li.active a{
  background-color: #333;
  color: #fff;
}

.keywords li a{
  color: #000;
  font-size: 12px;
}


/*
* threads list
*/
.threads{
  list-style: none;
  margin: 0;
}

.threads li{
  padding: 9px 0 0;
  margin-top: 9px;
  border-bottom: 1px dotted #CCCCCC;
  border-top: medium none;
  position: relative;
}

.threads li > i{
  margin: -47px 28px 0 4px;
}

.threads .info {
  color: #999999;
  margin-bottom: 20px;
  margin-left: 84px;
}

.threads .command{
  text-align: right;
  font-size: 12px;
  margin: 20px 0 6px;
}

.threads .command a{
  cursor: pointer;
  color: #999;
  margin-left: 24px;
}

.threads .content {
  font-size: 14px;
  margin-left: 84px;
}
.threads .avatar {
  border-radius: 0;
  clear: both;
  float: left;
  height: 48px;
  padding: 1px;
  width: 48px;
  margin-left: 2px;
}

.threads .info {
  font-size: 11px;
  margin: 4px 70px 18px 54px;
}

.threads .info a{
  color: #000;
}
.threads .info span{
  color: #999;
  font-size: 11px;
}

.threads .content {
    margin: 0 70px 0 54px;
    min-height: 25px;
}

.threads .content a{
  color: #000;
}

.threads .num {
  background-color: #EEEEEE;
  position: absolute;
  text-align: center;
  width: 46px;
  line-height: 46px;
  float: left;
  font-size: 16px;
}

.threads .avatar{
  float: right;
}


/*
* pagination
*/
.pagination {
  padding-top: 24px;
  text-align: right;
  width: 50%;
}

.pagination ul {
  box-shadow: none;
  border: 1px solid #ccc;
  border-right: none;
  display: table;
  width: 100%;
  margin-left: 0;
  font-size: 14px;
}

.pagination ul.len1{
  width: 20%;
}

.pagination ul.len2{
  width: 30%;
}

.pagination ul.len3{
  width: 40%;
}

.pagination ul > li{
  display: table-cell;
  border-right: 1px solid #ccc;
  text-align: center;
  width: auto;
}

.pagination ul > li > a,
.pagination ul > li > span{
  border: none;
  color: #000000;
  display: block;
  padding: 4px 0 ;
  width: 100%;
}

.pagination ul > li.active{
  background-color: #666;
}

.pagination ul > li.active > a,
.pagination ul > li.active > span{
  color: #fff;
}

@media (max-width: 640px) {
  .pagination{
    width: 100%;
  }
}


/*
article
*/
.article {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 34px;
  margin-bottom: 34px;
  overflow: hidden;
}

.article td{
  padding-bottom: 34px;
}

.article .title {
  font-size: 20px;
  line-height:1.4em;
  margin: 0;
}

.article h1{
  font-size: 24px;
}

.article h2{
  font-size: 20px;
}

.article .summary {
  color: #666;
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

.article .content {
  line-height: 2em;
}

.article .summary p{
  margin: 0;
}

.article .cell {
  display: inline-block;
  width: 46%;
  vertical-align: middle;
}

.article .cell:first-child {
  margin-right: 2%;
}

.article .cell:last-child {
  margin-left: 2%;
}

.article .note {
  font-size: 14px;
  margin: 14px 0;
}

.article .note a {
  font-weight: 700;
}

.article .note .category,
.article .note .keyword{
  color: #ff905a !important;
}

.article:last-child{
  border-bottom: none;
}



.toolbar {
  background-color: transparent;
  display: table;
  /*table-layout: fixed;*/
  border: none;
  width: 100%;
  margin-top: 14px;
}

.toolbar td{
  margin: 0;
  padding: 0;
  text-indent: 4px;
  vertical-align: middle;
}

.toolbar .refresh{
  cursor: pointer;
  margin-top: -6px;
}


.toolbar td:first-child{
  width: 30%;
}

.toolbar td:last-child{
  text-align: right;
}

.toolbar button{
  padding: 10px 32px;
  margin: 0;
}

.toolbar input{
  margin: 0;
}


/*
user info and avator
*/
.useravator {
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
}

.useravator .avatar{
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  box-shadow: -1px 1px 6px rgba(0,0,0,0.4);
  overflow: hidden;
}

.useravator>table {
  border: none;
  text-align: left;
  margin: 24px auto 0;
}

.useravator .avatar img{
  min-width: 80px;
  min-height: 80px;
}

.useravator a{
  color: #000;
}


/*
* comments
*/
.comments{
  margin: 44px 0;
}

.comments title{
  font-size: 16px;
}

.comments>ul{
  margin: 0;
}

.comments>ul>li{
  border-top: 1px solid #eee;
  padding: 14px 0 0;
  list-style: none;
  margin-top: 12px;
}

.comments .info {
  color: #999999;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 84px;
}

.comments .info a{
  color: #999;
  cursor: text;
}

.comments .info a[href]{
  color: #008cba;
  cursor: pointer;
}

.comments .command{
  text-align: right;
  font-size: 12px;
  margin: 20px 0 6px;
}

.comments .command a{
  cursor: pointer;
  color: #999;
  margin-left: 24px;
}

.comments .content {
  font-size: 14px;
  margin-left: 84px;
}

.comments .avatar {
  border-radius: 0;
  clear: both;
  float: left;
  height: 48px;
  padding: 1px;
  width: 48px;
  margin-left: 2px;
}

.comments .info span{
  color: #999;
  float: right;
  font-size: 11px;
}


.editor {
  border: dotted 1px #000;
  padding: 4px;
  min-height: 94px;
}

.medium-editor-placeholder:after {
  top: 40%;
  left: 40%;
}

.copyright {
  color: #333; 
  font-size: 14px; 
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.copyright a {
  color: #333; 
}