body{
  overflow: hidden;
}

.keywords li {
  float: left;
}

.pagination {
  width: 84%;
}

.pagination ul > li {
  float: left;
  padding: 0 9px;
}


.comments .info {
  margin-top: -20px;
}

.comments .info span {
  margin-top: -20px;
}

.bbs .comments .content {
  margin-top: -20px;
}


#nprogress{
  display: none;
}