.container {
  min-width: 1020px;
}

.row-fluid .span-5 {
  width: 18.3%;
}

.layout-pane {
  width: auto;
}

.layout-pane .nav-header a {
  margin-top: -24px;
}


.layout-pane li a i {
  float: none;
}




.nav-header {
  padding: 3px 4px;
}


.stock ul li a {
  font-size: 12px;
  padding-left: 4px;
}

.stock b {
  margin-right: 4px;
}

.keywords li.pull-right {
  margin-top: -44px;
}



.pagination {
  width: 84%;
}

.pagination ul > li {
  float: left;
  padding: 0 9px;
}