body {
  overflow-y: scroll;
}

/* Custom container */
.container {
  margin: 0 auto;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 40px 0;
  text-align: center;
  min-height: 1px;
}

.jumbotron h1 {
  font-size: 90px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 20px;
  line-height: 1.6;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron form {
  margin: 20px 0;
}

.jumbotron input, .jumbotron textarea, .jumbotron label {
  width: 90%;  
}

.navbar-inverse .navbar-inner{
  border-left: none;
  border-right: none;
  border-top: none;
}

.navbar-inverse .brand {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}

.brand {
  font-family: Georgia Pro,Andalus,Narkisim,Stencil,Helvetica,Franklin ITC Pro Bold,Arial,sans-serif;
}

.brand b{
  color:#f00;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.dropdown-menu {
  min-width: 140px;
}

.home .row-fluid > div {
  margin-bottom: 44px;
}

#articles{
  text-align: justify;
}

#articles h2 {
  font-size: 20px;
}

#articles a.btn {
  margin: 10px 0 0 0;
}

#about{
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  overflow:hidden;
}

/*
#articles p{
  text-indent: 28px;
}
*/

#loader .row-fluid {
  margin: 0;
}

cite{
  margin: 50px 0;
  display: block;
}

.jiathis_style_24x24 {
  height: 54px;
}

.jiathis_style_24x24 > span{
  float: left;
  line-height: 24px;
  margin-right: 10px;
}

.bshare-custom.icon-medium{
  width: auto;
}

#summary{background: none;font-size: 14px;margin: 0 0 30px;padding: 0;}
#content{font-size: 16px;line-height: 1.4em;overflow: hidden;}
#comments{margin:4em 0 2em}

#addReply{
  margin: 24px 0 84px;
  overflow: hidden;
}

#addReply button,#addReply a.btn{
  float: right;
}

#addReply .toolbar{
  background: transparent;
}

#addReply button,
#addReply .toolbar label,
#addReply .toolbar .name,
#addReply .toolbar .icon-refresh{
  display: inline;
  margin-bottom: 6px;
}

/*
#addReply .toolbar label{
  font-size: 16px;
}
*/

#addReply .toolbar input{
  border: 1px solid #999;
}

#addReply .toolbar .name{
  padding: 0 4px;
  width: 150px;
}

#addReply .toolbar .icon-refresh{
  display: inline-block;
  cursor: pointer;
  margin: -2px 0 0 4px;
}


.comments li{
  border-top: 1px solid #eee;
  padding: 14px 0 0;
  margin-top: 12px;
}
.comments .info {
  color: #999999;
  margin-bottom: 20px;
  margin-left: 84px;
}

.comments .command{
  text-align: right;
  font-size: 12px;
  margin: 20px 0 6px;
}

.comments .command a{
  cursor: pointer;
  color: #999;
  margin-left: 24px;
}

.comments .content {
  font-size: 14px;
  margin-left: 84px;
}
.comments .avatar {
  border-radius: 0;
  clear: both;
  float: left;
  height: 48px;
  padding: 1px;
  width: 48px;
  margin-left: 2px;
}
.comments .info a{
  color: #999;
}
.comments .info a[href] {
  color: #08c;
}
.comments .info span{
  color: #999;
  float: right;
  font-size: 11px;
}
.comments .conent{

}

#article-panel {
  color: #999;
  margin-left: 12px;
}

#article-panel h5,
#article-panel a {
  color: #333;
}

#article-panel h5 {
  /*border-bottom: 1px solid #EEEEEE;*/
  font-size: 16px;
  padding: 0 4px 10px;
  margin-top: 0;
}

.home #article-panel h5 i{
  margin-top: 4px;
}

/*Custom font for title:*/
#articles  h2,
.span12 h1,
#articles .note a,
.home #article-panel > h5
{
  font-family: "Microsoft YaHei","微软雅黑",Lucida,Verdana,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif,Serif;
}

/*
************************
for subscribe form
************************
*/
#subscribe #to {
  width: 210px;
}

#subscribe .rss{
  display: inline-block;
  margin-left: 4px;
}

#subscribe .rss img{
  margin-top: 5px;
}

.dropdown-menu #subscribe {
  margin: 0 20px 14px;
}

.dropdown-menu #subscribe #to{
  width: 140px;
}

.dropdown-menu #subscribe .btn{
  font-size: 14px;
  padding: 4px 10px;
}


/*
************************
for job scription page
************************
*/
/*.userinfo .navbar-fixed-top{
  position: static;
}*/

.userinfo #article,
.userinfo .title{
  line-height: 1.6em;
  font-family: "lucida grande","lucida sans unicode",lucida,"Helvetica Neue",helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

.userinfo #article{
  font-size: 18px;
}

.userinfo #content {
  margin-bottom: 200px;
}

.userinfo .dl-horizontal dd{
   margin-bottom: 24px;
}

.listpage .dl-horizontal dd,
.listpage .dl-horizontal dt a{
  color: #999;
  margin-bottom: 12px;
}

.avatar{
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  box-shadow: -1px 1px 6px rgba(0,0,0,0.4);
  overflow: hidden;
}

.userAvator {
  margin: 24px auto !important;
  padding: 0 24px;
  text-align: center;
}

.userAvator>table{
  text-align: left;
  margin: 24px auto 0;
}

.userAvator .avatar img{
  min-width: 80px;
  min-height: 80px;
}

.userAvator a{
  color: #000;
}

.navbar-fixed-top .navbar-inner{
  border-width: 0 0 2px;
}

.navbar-inverse .nav-collapse .dropdown-menu a{
  color: #000;
}

.navbar-inverse .nav-collapse .dropdown-menu .active a,
.navbar-inverse .nav-collapse .dropdown-menu a:hover{
  color: #fff;
}

.active .caret,
.active .caret:hover{
  border-top-color: #FFF;
}

#recommendfm label{
  text-align: left;
  margin-left: 30px;
}

#recommendfm input{
  margin-bottom: 20px;
}

a.title-highlight {
  background-color: #CCCCCC;
  border: 1px dotted #333333;
  color: #000000;
  display: block;
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0.4em;
  text-align: center;
}

.commands {
  border-top: 1px solid #ddd;
  font-size: 12px;
  margin-top: 12px;
  padding-top: 6px;
}

.commands > a {
  margin-right: 32px;
}

#articles .title a,
#articles .note a{
  color: #000;
}

#articles a:hover{
  color: #08c;
  text-decoration: none;
}

#articles h2 a{
  border-bottom: solid 1px transparent;
  padding-bottom: 2px;
}

#articles h2 a:hover{
  border-bottom: solid 1px #08c;
}

#articles .note{
  font-size: 14px;
  color: #666;
}

#articles .span9 .span6{
  font-size: 16px;
  line-height: 1.6em;
}

.home .span3 {
  margin-left: 0;
}

.listpage h2{
  text-align: center;
}

.ad300{
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
}

.ad300 ins iframe {
  border: solid 1px #999;
  overflow: hidden;
}


/*JS Puzzle*/
.puzzle li { 
  border-bottom: solid 1px #ddd;
  padding: 0 0 2em 0;
  margin: 0 0 2em 0;
}
.puzzle li .answer{
  display: none;
}
.puzzle li .group{
  display: table;
  table-layout:fixed;
  width: 100%;
}
.puzzle li .btn{
  display: table-cell;
  overflow: hidden;
  padding: 1em 0;
  text-overflow: ellipsis;
  margin: 0;
}
.puzzle .answered .answer{
  display: block;
  margin-top: 2em;
}

.puzzle .result{
  text-align: center;
}

#useredit {
  border-left: 1px solid #CCC;
}

#useredit .title {
  background-color: #DDDDDD;
  margin: 0 0 24px;
  padding: 6px;
}

#userTitle{
  font-size: 16px;
  float: right;
}

pre {
  border-left: 4px solid #6CE26C;
  font-size: 14px;
}

blockquote {
  display: block;
  padding: 12px;
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  border-left: 4px solid #999;
}

blockquote p {
  font-size: 14px;
  line-height: 1.8em;
}

/*
.form-horizontal .control-group{
  margin-bottom: 4px;
}*/

label.error {
  background-color: #ff0;
  border: 1px solid #DDD;
  margin-top: 6px;
  padding: 4px 2px;
  width: 214px;
}

/*bbs related*/
.bbs #comments{
  margin: 0 0 20px;
}

.bbs .comments .content {
    margin: 0 70px 0 0;
    min-height: 25px;
}

.bbs .comments .content a{
  color: #000;
}

.bbs ul a,
.bbs ol a{
  color: #000;
}

.bbs .comments .info {
    font-size: 11px;
    margin: 4px 70px 18px 0;
}

.bbs .comments .info a{
  color: #000;
}

.bbs .comments .info span{
  float: none;
}

.bbs .comments li {
    border-bottom: 1px dotted #CCCCCC;
    border-top: medium none;
    padding-top: 9px;
    position: relative;
}

.bbs .comments li > i{
  margin: -47px 28px 0 4px;
}

.bbs .comments .num {
  background-color: #EEEEEE;
  /*position: absolute;*/
  text-align: center;
  width: 46px;
  line-height: 46px;
  float: right;
  font-size: 12px;
}

.bbs .comments .avatar{
  float: right;
}

.bbs_thread .comments li {
    margin: 0;
    padding: 9px;
}

.bbs_thread .comments li:last-child{
  border-bottom: none;
}

.bbs_thread .comments li > i{
  margin: -47px 28px 0 4px;
}

.bbs_thread .comments .avatar{
  float: left;
}

.bbs_thread .comments .info {
    margin: 0 0 4px 70px;
}

.bbs_thread .comments .content {
    font-size: 16px;
    margin: 8px 0 0 70px;
}

.bbs .topic {
  padding-bottom: 12px;
  border-bottom: solid 1px #ccc;
}

.bbs .topic .avatar {
  float: right;
}

.bbs .topic .content{
  margin: 0 70px 0 0;
}

.bbs .topic .info {
  margin-right: 70px;
  margin-left: 0;
}

.bbs .social-share{
  min-height: 16px;
}

.toolbar {
    background-color: #EEEEEE;
    font-size: 12px;
    padding: 4px 6px;
}

.wmd-preview {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background-color: rgba(255, 255, 0, 0.2);
  padding: 0 10px;
}

.wmd-preview p{
  margin: 10px 0;
}

.comments_list{
  margin: 0;
}

#wmd-button-bar .wmd-button-row li {
  border: none;
  min-height: 0;
  margin: 0;
  padding: 0;
}

.wmd-button-bar {
  width: 100%;
  background-color: Silver; 
}

.wmd-input{ 
  height: 94px;
  width: 98%;
  border: 1px solid DarkGray;
}

.wmd-button-row 
{
  position: relative; 
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;  
  height: 20px;
}

.wmd-spacer
{
  width: 1px; 
  height: 20px; 
  margin-left: 14px;
  
  position: absolute;
  background-color: Silver;
  display: inline-block; 
  list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
  background-color: Black;
}

.wmd-prompt-dialog
{
  border: 1px solid #999999;
  background-color: #F5F5F5;
  border-top-width: 0;
}

.wmd-prompt-dialog > div {
  background-color: #FFFFFF;
  border-top: 4px solid #0044CC;
  text-align: center;
}

.wmd-prompt-dialog > div p {
  margin-top: 10px;
}

.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
  border: 1px solid #888888;
  font-weight: bold;
  margin-bottom: 17px !important;
}

.bbs_thread #title li {
  border-bottom: solid 1px #ddd;
  padding-bottom: 4px;
  margin-bottom: 24px;
}

.bbs_thread #title .content{
  font-size: 24px;
  line-height: 28px;
}

.bbs_thread #title .info{
  margin-top: 12px;
}

.bbs_thread #content{
  margin-bottom: 14px;
  padding-bottom: 14px;
}

.keywords {
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
}

.keywords li {
    display: inline-block;
    font-size: 16px;
    padding: 4px 6px;
}

.keywords ul{
  margin:0;
}

.keywords li.active,
.keywords li.active a{
  background-color: #333;
  color: #fff;
}

.keywords li a{
  color: #000;
}

#keyNav ul li{
  font-size: 12px;
}

.panel {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 44px 44px;
}

.panel .keywords {
  background-color: #eee;
  border: medium none;
}


.pagination {
  padding-top: 24px;
  text-align: right;
  width: 50%;
}

.pagination ul{
  box-shadow: none;
  border: 1px solid #ccc;
  border-right: none;
  display: table;
  width: 100%;
}

.pagination ul.len1{
  width: 20%;
}

.pagination ul.len2{
  width: 30%;
}

.pagination ul.len3{
  width: 40%;
}

.pagination ul > li{
  display: table-cell;
  border-right: 1px solid #ccc;
  text-align: center;
  width: auto;
}

.pagination ul > li > a,
.pagination ul > li > span{
  border: none;
  color: #000000;
  display: block;
  padding: 4px 0 ;
  width: 100%;
}

.pagination ul > li.active {
  background-color: #999;
}

.pagination ul > li.active > a,
.pagination ul > li.active > span{
  color: #fff;
  background-color: transparent;
}

.headButton{
  text-align:center;
  border-top:solid 1px #ddd;
  padding-top:24px;
  margin-bottom: 14px;
}

#content.editor{
  height: 644px;
}

.count{
  font-size: 12px;
  color:#999;
  text-align: right;
}




.home {
  font-family: "Georgia Pro",georgia,serif;
}

.detail h1{
  line-height: 1.4em;
}

#article {
  overflow: hidden;
}

.article {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 34px;
  margin-bottom: 34px;
  overflow: hidden;
}

.article td{
  padding-bottom: 34px;
}

.article .title {
  font-size: 20px;
  font-family: "Microsoft YaHei","微软雅黑",Lucida,Verdana,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif,Serif;
  line-height:1.4em;
  margin: 0;
}

.article .title i{
  margin-top: 7px;
}

.article .summary {
  color: #333;
  font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-size: 16px;
  line-height: 1.64em;
}

.article .summary li{
  line-height: 1.64em;
}

.article .summary p{
  margin: 0;
}

.note {
  font-size: 14px;
  margin: 14px 0;
}

.note a {
  font-weight: 700;
}

.note .category,
.note .keyword{
  color: #ff905a !important;
}

.article .cell {
  display: inline-block;
  width: 46%;
  vertical-align: middle;
}

.article .cell:first-child {
  margin-right: 2%;
}

.article .cell:last-child {
  margin-left: 2%;
}

.navbar .nav{
  float: none;
}

.navbar .nav>li.pull-right{
  float: right;
}

.navbar .nav>li.pull-right>.dropdown-menu:before{
  right: 9px;
  left: auto;
}

.navbar .nav>li.pull-right>.dropdown-menu:after{
  right: 10px;
  left: auto;
}

.navbar .nav>li>a{
  min-height: 20px;
}


#nprogress {
  pointer-events: none;
  position: relative;
}

#nprogress .bar {
  background: #ff0;
  bottom: 0;
  position: absolute;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}



.ms-ctn {
  background: #fff;
  border: solid 1px #ccc;
}



/*for mobile device*/
@media (max-width: 979px) {
  .jumbotron {
    margin: 0;
  }

  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }

  .home .row-fluid > div{
    margin-bottom: 34px;
  }

  #articles .span6 {
    padding-right: 0;
  }

  .panel {
      margin: 0;
  }


  #userTitle {
    display: none;
  }

  .navbar .nav.menu{
    display: none;
  }


  .navbar .nav {
    position: relative;
    display: block;
    float: right;
    clear: right;
    margin: 0 4px 0 0;
    height: 0;
    z-index: 100;
  }

  .navbar .nav>li {
    background-color: #efefef;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: block;
    float: none;
    font-weight: 700;
    position: static;
    height: auto;

    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-left: 1px solid rgba(0,0,0,.2);
    border-right: 1px solid rgba(0,0,0,.2);
  }

  .navbar .nav>li:first-child{
    border-top: 1px solid rgba(0,0,0,.2);
  }

  .navbar .nav>li.active{
    background: #666;
    color: #fff;
  }

  .navbar .nav > li > .dropdown-menu:after,
  .navbar .nav > li > .dropdown-menu:before,
  .navbar .nav .caret{
    display: none;
  }


  .navbar .dropdown-menu {
    border-radius: 0;
    border-top: none;
    box-shadow: none;
    display: block;
    position: static;
    height: auto;
    float: none;
    margin: 0;
  }

  #subscribe{
    margin-bottom: 4px;
  }

  #subscribe #to{
    width: 90px;
  }

  #subscribe .btn{
    font-size: 12px;
    padding: 4px;
  }
}

#editArticle {
    background-color: #efefef;
}

@media (max-width: 640px) {
  .article{
    display: block;
  }

  .article .cell{
    display: block;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .dropdown-menu{
    left: auto;
    right: 0;
  }

  
  .modal{
    position: absolute;
  }

  .pagination{
    width: 100%;
  }
}

@media (max-width: 480px) {
  #article-panel {
    padding-left: 0;
    margin-left: 0;
  }
}

@media (max-width: 320px) {
  .navbar .container {
    position: relative;
  }
}