<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Data Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--#include="style.part"-->
</head>
<body>
<!--#include="header.part"-->
<div class="container">
  <div class="row-fluid">
    <div id="article" class="span12">
      <h3>
        {{=it.schema}}
        <a class="btn btn-success" style="float:right" href="/admin/data/{{=it.schema}}/edit/add" target="_blank">Add</a>
      </h3>
      <br>
      <table class="table">
      <tr>
        {{ for(var i in it.properties) { }}
        <th>{{=it.properties[i]}}</th>
        {{ } }}
        <th>edit</th>
      </tr>
      {{~ it.docs :doc:index }}
        <tr>
          {{ for(var i in it.properties) { }}
          <td>{{=doc[it.properties[i]] || ''}}</td>
          {{ } }}
          <td><a href="/admin/data/{{=it.schema}}/edit/{{=doc._id}}" target="_blank">Edit</a></td>
        </tr>
      {{~}}
      </table>
    </div>
  </div>
</div>
<!--#include="script.part"-->
</body>
</html>