<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>{{=it.article.title}} | anynb</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{=it.description}}">
<!--#include="style.part"-->
<script>var conf={ _id: "{{=it._id}}", username:"{{=it.user.username || ''}}", useravatar:"{{=it.user.useravatar || ''}}"}</script>
</head>

<body class="detail">
<!--#include="header.part"-->
<div class="container">
  <div class="row-fluid">
    <div class="span2"></div>

    <div id="article" class="span8">
      <div id="title">
        <h1>{{=it.article.title}}</h1>
        <hr>
        <div class="jiathis_style_24x24">
          <span>分享到</span>
          <a class="jiathis_button_qzone"></a>
          <a class="jiathis_button_tsina"></a>
          <a class="jiathis_button_tqq"></a>
          <a class="jiathis_button_weixin"></a>
          <a class="jiathis_button_renren"></a>
          <a class="jiathis_button_fb"></a>
          <a class="jiathis_button_linkedin"></a>
          <a href="http://www.jiathis.com/share?uid=1862627" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        </div>
      </div>

      <div id="summary">
        {{?it.article.keyword}}
        <b>关键字</b>
        <a class="category" target="_blank" href="/bbs/{{=it.article.keyword}}">{{=it.article.keyword}}</a>&nbsp;&nbsp;
        {{?}}

        <b>发布</b>
        <a href="/userinfo/{{=it.article.poster || ''}}" target="_blank">{{=it.article.poster || ''}}</a>&nbsp;
        <span class="formatdate date">{{=it.article.postDate || ''}}</span>

        <br>

        <b>注意</b> 转载须保留原文链接，译文链接，作者译者等信息。&nbsp;&nbsp;
        {{?it.user.username == it.article.poster || it.user.isAdmin}}
        <br>
        <b>管理</b>&nbsp;
        <a href="/root/delete/{{=it.article.id}}" target="_blank">
          <i class="icon-trash"></i> 删除
        </a>
        &nbsp;
        <a href="/root/edit/{{=it.article.id}}" target="_blank">
          <i class="icon-pencil"></i> 修改
        </a>
        {{?}}
        {{?it.user.isAdmin}}
        &nbsp;
        {{?it.article.isPublic == 1}}
        <a href="/root/publish/{{=it.article.id}}/0" target="_blank">
          <i class="icon-share"></i> 取消发布
        </a>
        {{??}}
        <a href="/root/publish/{{=it.article.id}}/1" target="_blank">
          <i class="icon-share"></i> 发布
        </a>
        {{?}}
        {{?}}
      </div>

      <div id="content">
        {{=it.article.content || ''}}
        {{?it.article.url}}
        <br><br>
        <div> <b>原文地址： <a class="originUrl" href="{{=it.article.url || ''}}" target="_blank">点此</a> </b></div>
        <br><br>
        {{?}}
      </div>

      <div id="count" class="count text-right" data-count="#content">
        <span></span>
      </div>

      <div id="comments">
        <div>
          <b style="font-size:20px">社区评论</b> <span style="font-size:12px"> ( Beta版 )</span>
        </div>
        <ul id="comments_list" class="unstyled comments">
          {{~ it.replies :reply:index }}
          <li>
            {{?reply.deleted}}
            <div class="info">
              #<b class="floor">{{=index}}</b> <s>己删除</s>
              <span class="formatdate text-right">{{=reply.postdate}}</span>
            </div>
            {{??}}
            <a class="avatar"><img src="http://www.gravatar.com/avatar/{{=reply.avatar}}"></a>
            <div class="info">
              #<b class="floor">{{=index}}</b>
              {{?reply.poster}}
              <a href="/userinfo/{{=reply.poster || ''}}" target="_blank">{{=reply.poster || ''}}</a>
              {{??}}
              <a>{{=reply.nickname || ''}}</a>
              {{?}}
              <span class="formatdate">{{=reply.postdate}}</span>
            </div>
            <div class="content">{{=reply.reply || ''}}</div>
            <div class="command">
              {{?it.username && !reply.deleted && (reply.poster == it.username || it.isAdmin)}}
              <a class="remove"><i class="icon-remove"></i> 删除</a>
              {{?}}
              <a class="reply"><i class="icon-share-alt"></i> 回复</a>
            </div>
            {{?}}
          </li>
          {{~}}
        </ul>
        <form id="addReply">
          <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
          <div id="wmd-button-bar"></div>
          <textarea class="wmd-input" id="wmd-input"></textarea>
          <div class="toolbar">
            {{?!it.username}}
            <label for="nickname">游客 </label>
            <input name="nickname" id="nickname" class="name" />
            <i class="icon-refresh"></i>
            {{?}}
            <button type="submit" class="btn btn-primary">发布评论</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="footer">
    <div style="margin:0 0 60px 0">
      <p style="float:left;line-height: 30px;">
        沪ICP备13020027号-2
      </p>
      <p style="text-align:right;">
        <a class="btn" href="#top">返回顶部</a> 
      </p>
    </div>
  </div>
</div>

<!--#include="script.part"-->
<!--Powered By OurJS -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1862627" charset="utf-8"></script>
</body>
</html>