<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>沪深两市证券股票担保资金(保证金)余额走势曲线图-行情中心-K线图 | AnyNB</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<!--#include="style.part"-->
</head>

<body>

<!--#include="header.part"-->

<h2 class="text-center">沪深两市证券股票资金保证金余额走势图</h2>

<div class="chart-wrapper">
  <div id="chart_baozhenjin"></div>

  <div class="container">
    注*　数据来源 <a href="http://www.sipf.com.cn/subject/sub_ch/tjsj/index.html" target="_blank">中国证券投资者保护基金有限责任公司</a>
  </div>
</div>

<!--#include="footer.part"-->

<!--#include="script.part"-->
<!--Powered By OurJS -->
</body>
</html>