<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>ROOT [ourjs.com]</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--#include="style.part"-->
</head>
<body>
<!--#include="header.part"-->
<div class="container">
  <div class="row-fluid">
    <div id="editArticle" class="span12">
      <h3 class="text-center">发布文章</h3>
      <br><br>

      <form class="form-horizontal" method="post" id="editArticleForm" action="/root/edit.post">
        <input type="hidden"  name="id" readonly="readonly" value="{{=it.article.id || ''}}" placeholder="编号">
        {{? it.user.isAdmin }}
        <div class="control-group">
          <label class="control-label">发布人</label>
          <div class="controls">
            <input class="span10" type="text"  name="poster" readonly="readonly" value="{{=it.article.poster || ''}}">
          </div>
        </div>
        <br><br>
        {{?}}

        <div class="control-group">
          <label class="control-label" for="inputEmail">标题</label>
          <div class="controls">
            <input class="span10" type="text"  name="title" value="{{=it.article.title || ''}}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputPassword">链接</label>
          <div class="controls">
            <input class="span10" type="url" name="url" value="{{=it.url || ''}}" placeholder="http://">
          </div>
        </div>

        {{? it.user.isAdmin }}
        <div class="control-group">
          <label class="control-label" for="inputPassword">选项</label>
          <div class="controls">
            <select class="span10" name="isPublic" data="{{=it.article.isPublic || ''}}">
              <option value="0">自己可见</option>
              <option value="1">推荐首页</option>
              <option value="1">公开</option>
            </select>
          </div>
        </div>
        {{?}}

        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"> 文章正文: 原创请填写
          </label>
        </div>

        <div class="contentWrapper row" style="display:none">
          <div class="span2"></div>
          <div class="span8">
            <textarea id="content" rows="24" name="content" placeholder="文章正文" class="editor" style="width:100%"></textarea>
          </div>
        </div>

        <div class="text-center row">
          <br><br>
          <button type="submit" class="btn btn-large btn-primary">保 存</button>
          <br><br>
        </div>

      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
var summary={{=JSON.stringify(it.summary)}};
var content={{=JSON.stringify(it.content)}};
</script>

<!--#include="footer.part"-->

<!--#include="script.part"-->

</body>
</html>