<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>编辑文章</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<!--#include="style.part"-->
</head>
<body>
<!--#include="header.part"-->
<div class="container">
  <div class="row-fluid">
    <div id="editArticle" class="span12">
      <br>
      <h3 class="text-center">发布文章</h3>
      <br><br>

      <form class="form-horizontal" method="post" id="editArticleForm" action="/root/edit.post">
        <input type="hidden"  name="id" readonly="readonly" value="{{=it.article.id || ''}}" placeholder="编号">

        <div class="control-group">
          <label class="control-label" for="inputEmail">标题</label>
          <div class="controls">
            <input class="span10" type="text"  name="title" value="{{=it.article.title || ''}}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputPassword">链接</label>
          <div class="controls">
            <input class="span10" type="url" name="url" value="{{=it.article.url || ''}}" placeholder="http://">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputPassword">关键字</label>
          <div class="controls">
            <div class="span4">
              <input class="autocomplete" type="text" name="keyword" >
            </div>
          </div>
        </div>

        <div class="controls">
          <label class="checkbox">
            <input id="chkContent" type="checkbox"> 文章正文
          </label>
        </div>

        <div class="contentWrapper" style="display:none">
          <hr>
          <div class="row">
            <div class="span2"></div>
            <div class="span8">
              <textarea id="content" rows="24" name="content" placeholder="文章正文" class="editor" style="width:100%"></textarea>
            </div>
          </div>
          <br>
          <div class="control-group">
            <label class="control-label" for="holdTime">举办时间</label>
            <div class="controls">
              <div class="span8">
                <input id="holdTime" class="datetime" type="text" name="holdTime" > [投资日历、可不填]
              </div>
            </div>
          </div>
        </div>

        <div class="text-center row">
          <br><br>
          <button type="submit" class="btn btn-large btn-primary">保 存</button>
          <br><br>
        </div>

      </form>
    </div>
  </div>
</div>

<!--为控件准备的全局变量-->
<script type="text/javascript">
var content={{=JSON.stringify(it.article.content)}};
var keyword={{=it.article.keyword && JSON.stringify((it.article.keyword).split(','))}};
var keywords={{=JSON.stringify((it.keywords))}};
</script>

<!--#include="footer.part"-->
<!--#include="script.part"-->

</body>
</html>