<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>

<div style="width: 680px; overflow: hidden; font-size: 16px; line-height: 1.4em; margin: 0px auto; border-left: 1px solid rgb(221, 221, 221); border-right: 1px solid rgb(221, 221, 221); padding: 10px 40px 40px;border-top:5px solid #000;border-bottom:2px solid #000">

<h2 style="text-align: center; padding: 16px 0px; background-color: rgb(238, 238, 238); margin: 24px 0px 40px;"><a style="text-decoration: none; color: rgb(0, 0, 0); font-size: 30px;" target="_blank" href="http://ourjs.com"> <b> Our<font color="red">JS</font> 精选 </b> </a></h2>

<div style="font-weight: bold; font-size: 20px; line-height: 24px; color: rgb(92, 150, 25); border-bottom: 3px solid rgb(108, 166, 41); text-transform: lowercase; margin: 44px 0px 10px;">阅读</div>

<ul style="padding: 0px; font-size: 14px; margin:0;">
  {{~ it.articles :article:index }}
  <li style="list-style: none outside none; margin: 0px; padding: 0px;">
    <h3 style="margin:20px 0 0;font-size:18px">
      <a style="font-size: 16px; text-decoration: none; color: #259;"
      target="_blank"
      href="http://ourjs.com/detail/{{=article._id}}"
      >{{=article.title}}</a>
    </h3>
    <p style="margin:0;">{{=article.summary}}</p>
    <div style="color:#ccc;text-align:right">发布 <span style="color:#5c9619;text-transform:uppercase;">{{=article.poster}}</span></div>
  </li>
  {{~}}
</ul>

<div style="background-color: rgb(238, 238, 238); padding: 10px; margin: 60px 0px 0px;text-align: center;font-size:14px"> <a href="http://ourjs.com/" target="_blank" style="color:#999;text-decoration: none;">OurJS.com</a></div>

</div>
<!--Powered By OurJS -->
</body>
</html>