<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>爱牛币-股市牛博汇</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<!--#include="style.part"-->
<script>var conf={{=it.conf}}</script>
</head>

<body class="bbs">

<!--#include="header.part"-->

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div style="background:#efefef;font-size:16px;text-align:center;margin:0 0 24px;line-height:44px">股市有风险，投资需谨慎</div>
    </div>
  </div>

  <div class="row-fluid">
    <div id="article" class="span8 article-list">
      <div class="nav-separator"></div>
      <div class="keywords" id='keyNav'>
        <ul class="clearfix">
          <li>{{=it.keyword || '最新文章'}}</li>
          <li class="pull-right"><a href="/rss/{{=it.keyword || ''}}" target="_blank">RSS</a></li>
        </ul>
      </div>
      <ul id="comments_list" class="unstyled comments">
        {{~ it.articles:article:index }}
        <li>
          <div class="num">{{=article.visitNum || 0}}</div>
          <div class="content">
            {{?article.verify=='1'}}
            <i class="icon-star-empty"></i>
            {{?}}
            {{?article.content}}
            <a href="/article/{{=article.id}}" target="_blank">{{=article.title || ''}}</a>
            {{??}}
            <i class="icon-tags"></i> <a href="/redirect/{{=article.id}}" target="_blank">{{=article.title || ''}}</a>
            {{?}}
          </div>
          <div class="info">
            <a href="/user/{{=article.poster}}" target="_blank">{{=article.poster}}</a>
            • <span class="formatdate">{{=article.replyTime || article.postTime || 0}}</span>
            {{?article.keyword}} • {{=article.keyword}} {{?}}
            • <a href="/article/{{=article.id}}#comments" target="_blank">发表评论</a>
            {{?article.url}}• <a href="{{=article.url}}" target="_blank">原文地址</a>{{?}}

            {{?it.user.isAdmin}}
              {{?article.isPublic == 1}}
              • <a href="/root/publish/{{=article.id}}/0" target="_blank"> 取消发布 </a>
              {{??}}
              • <a href="/root/publish/{{=article.id}}/1" target="_blank"> 发布 </a>
              {{?}}
            {{?}}
          </div>
        </li>
        {{~}}
        <!--Google广告|可删除或替换成你自己的-->
        <li style="margin: 0;padding: 4px 0;">
          <div style="height:90px;overflow:hidden">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1941367294435664"
                 data-ad-slot="2234709637"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </li>
      </ul>
      <div class="pagination">{{=it.pagination || ''}}</div>
    </div>
    <div class="span4">
      <div class="nav-separator"></div>
      <ul class="dropdown-menu layout-pane">
        <li class="nav-header">本月投资日历</a></li>
        <li class="divider"></li>
        <li>
          <a href="/rss/{{=it.keyword || ''}}" target="_blank">2016-01-01 A股指数熔断机制正式实施</a>
        </li>
        <li>
          <a href="/rss/{{=it.keyword || ''}}" target="_blank">2016-01-01 上市公司大股东、董监高减持股份规定正式实施</a>
        </li>
        <li>
          <a href="/rss/{{=it.keyword || ''}}" target="_blank">2016-01-01 第六届中国物联网产业与智慧城市发展年会</a>
        </li>

        <li class="divider"></li>
        <li class="text-center">
          <div class="btn-group">
            <button type="button" class="btn btn-primary">本月</button>
            <button type="button" class="btn btn-default">下月</button>
            <button type="button" class="btn btn-default">全部</button>
          </div>
          <br><br>
        </li>
      </ul>

      <ul class="dropdown-menu layout-pane">
        <li class="nav-header">RSS 订阅</li>
        <li><a href="/rss/{{=it.keyword || ''}}" target="_blank">RSS 订阅</a></li>
        <li class="divider"></li>
        <li class="nav-header">微信订阅</li>
        <li class="text-center">
          <div style="margin:14px;min-height:246px">
            <img src="/img/weixin.jpg" alt="ourjs官方微信号" width="254" height="254" style="border: solid 1px #666;" />
            </div>
          <div style="margin:24px 14px;text-align:left;font-size:16px;">
            我们的微信公众号:
            <br>
            <b>ourjs</b> 或 <b>anynb-com</b>
            <br>
            打开微信扫一扫即可关注我们，随时查看牛人们的最新观点
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <p class="nav-header">邮件订阅, 使用
            <a href="http://list.qq.com/cgi-bin/qf_invite?id=2bd1a80d2aa9dcea40653a04299fc3248c6c30dd9468d0d3" target="_blank">QQ邮件列表</a>
          </p>
          <form id="subscribe" method="post" action="http://list.qq.com/cgi-bin/qf_compose_send" target="_blank">
            <input type="hidden" value="qf_booked_feedback" name="t" />
            <input type="hidden" value="2bd1a80d2aa9dcea40653a04299fc3248c6c30dd9468d0d3" name="id" />
            <input type="email" name="to" id="to" placeholder="Email" />
            <div class="text-right">
              <button class="btn" type="submit">订阅邮件</button>
            </div>
          </form>
        </li>
      </ul>

    </div>

  </div>
</div>

<div id="loader" class="container hide">
  <div class="row-fluid">
    <div class="span12">
      <pre style="text-align:center">加载中...</pre>
    </div>
  </div>
</div>

<!--#include="footer.part"-->

<!--#include="script.part"-->
<!--Powered By OurJS -->
</body>
</html>