<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>anynb 股市牛博汇</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<!--#include="style.part"-->
<script>var conf={{=it.conf}}</script>
</head>

<body class="bbs">

<!--#include="header.part"-->

<div class="container">
  <div class="row-fluid">
    <div class="span2"></div>
    <div id="article" class="span8">
      <div class="keywords" id='keyNav'>
        <ul class="clearfix">
          <li>{{=it.keyword || '最新文章'}}</li>
          <li class="pull-right"><a href="/bbs_rss" target="_blank">RSS</a></li>
        </ul>
      </div>
      <ul id="comments_list" class="unstyled comments">
        {{~ it.articles:article:index }}
        <li>
          <div class="num">{{=(article.replies || []).length}}</div>
          <a class="avatar"><img src="http://www.gravatar.com/avatar/{{=article.avatar}}"></a>
          <div class="content">
            {{?article.verify=='1'}}
            <i class="icon-star-empty"></i>
            {{?}}
            <a href="/article/{{=article.id}}" target="_blank">{{=article.title || ''}}</a>
          </div>
          <div class="info">
             {{?article.keyword}}
             • <a href="/home/{{=article.keyword}}" target="_blank">{{=article.keyword}}</a>
             {{?}}
             • <a href="/user/{{=article.poster}}" target="_blank">{{=article.poster}}</a>
             • <span class="formatdate">{{=article.replyTime || article.postDate || 0}}</span>
          </div>
        </li>
        {{~}}
      </ul>
      <div class="pagination">{{=it.pagination || ''}}</div>
    </div>
  </div>
</div>

<div id="loader" class="container hide">
  <div class="row-fluid">
    <div class="span12">
      <pre style="text-align:center">加载中...</pre>
    </div>
  </div>
</div>

<!--#include="footer.part"-->

<!--#include="script.part"-->
<!--Powered By OurJS -->
</body>
</html>