<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
<channel>
  <title>OurJS 我们的JavaScript 爱我技术 我们的技术</title>
  <link>http://ourjs.com</link>
  <description></description>
  {{~ it.articles :article:index }}
  <item>
    <title><![CDATA[{{=article.title}}]]></title>
    <link>http://anynb.com/article/{{=article.id}}</link>
    <description><![CDATA[{{=article.description || ''}}]]></description>
  </item>
  {{~}}
</channel>
</rss>