<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>{{=it.userInfo.username}} - OurJS.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{=it.description}}">
<!--#include="style.part"-->
<script>var conf={{=it.conf}}</script>
</head>

<body class="userinfo">
<!--#include="header.part"-->
<div class="container">

  <div class="row-fluid">
    <div class="span4 userAvator">
      <a class="avatar">
        <img src="http://www.gravatar.com/avatar/{{=it.userInfo.avatar}}" />
      </a>
      <table>
        <tr title="用户名">
          <td><i class="icon-user"></i></td>
          <td><b>{{=it.userInfo.username}}</b></td>
        </tr>
        {{?it.userInfo.briefinfo}}
        <tr title="简介">
          <td colspan="2">{{=it.userInfo.briefinfo}}</td>
        </tr>
        {{?}}
      </table>
    </div>
    <div id="articles" class="span7">
      <div id="article_container">
        {{~ it.articles :article:index }}
        <div class="article">
          <h2 class="title">
            <a target="_blank" href="/article/{{=article.id}}">
              {{=article.title}}
            </a>
          </h2>
          <div class="note">
            <a class="keyword" target="_blank" href="/bbs/{{=article.keyword}}">{{=article.keyword || ''}}</a>
            by <a class="author" href="/user/{{=article.poster}}" target="_blank">{{=article.poster}}</a>
            <span class="formatdate date">{{=article.postTime || ''}}</span>
          </div>
        </div>
        {{~}}
      </div>
      <div id="loader" style="display:none">
        <pre style="text-align:center">加载中...</pre>
      </div>
      <br><br>
      <div class="jiathis_style_24x24">
        <span>分享到</span>
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_fb"></a>
        <a class="jiathis_button_linkedin"></a>
        <a href="http://www.jiathis.com/share?uid=1862627" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      </div>
    </div>
  </div>
</div>
<hr>

<!--#include="header.part"-->
<!--#include="script.part"-->

<!--Powered By OurJS -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1862627" charset="utf-8"></script>
</body>
</html>